page-page1 {
  .scroll-content {
    background: #efefef;
  }

  ion-col {
    text-align: center;
  }

  .osButton {
    width: 10em;
  }

  .optionsDiv {
    background: #387aea;
    height: 8em;
  }

  .catTitle {
    color: white;
    text-align: center;
    -webkit-margin-before: 0;
    padding-top: 0.5em;
  }
}
